@font-face {
    font-family: 'Biennale Bold';
    src: url('../fonts/BiennaleBold.otf') format('opentype');
}

@font-face {
    font-family: 'Biennale Ligth';
    src: url('../fonts/BiennaleLight.otf') format('opentype');
}

@font-face {
    font-family: 'Biennale Regular';
    src: url('../fonts/BiennaleRegular.otf') format('opentype');
}

//arquivo de config de estilos de font para o projeto