@import "variaveis.scss";

* {
    font-family: "Biennale Regular";
    font-size: 14px;
}

html,
body,
#__next {
    height: 100%;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.oculto {
    display: none;
}

input {
    /*chrome, opera, safari e firefox*/
    &::placeholder {
        color: $cinza2;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        /*internet explorer 10/11*/
        color: $cinza2;
    }

    &::-ms-input-placeholder {
        /*microsoft edge*/
        color: $cinza2;
    }
}

.desktop {
    @media screen and (min-width: $desktopBreakpoint) {
        display: block;
    }

    @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
        display: none;
    }
}

.mobile {
    @media screen and (min-width: $desktopBreakpoint) {
        display: none;
    }

    @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
        display: block;
    }
}

@import "../public/fonts/fonts.scss";
@import "../componentes/botao/botao.scss";
@import "./paginaPublica.scss";
@import "../componentes/inputPublico/inputPublico.scss";
